
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.lock
local.properties
pandora/google-services.json
pandora/release/pandora-release.aab
.idea/libraries/Gradle__com_google_firebase_firebase_analytics_impl_12_0_1_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_messaging_12_0_1_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_storage_common_12_0_1_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_storage_12_0_1_aar.xml
*.bin
*.lock
*.bin
*.aab
*.lock
*.bin
.gradle/6.5/javaCompile/jarAnalysis.bin
*.bin
*.bin
