
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.lock
