<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.laks.tvseries.featurecategory">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_featurecategory">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".detail.FullScreenVideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".detail.MovieDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".list.AllMovieListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".list.AllPeopleListActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.laks.tvseries.featurecategory.notification.PandoraFirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_baseline_local_fire_department_24" />

        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

    </application>

</manifest>